<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
     <link rel="icon" href="data:,">

<!-- jquery -->
  <script src="http://code.jquery.com/jquery-3.3.1.min.js"></script>
  <script src="https://code.jquery.com/ui/1.12.0/jquery-ui.min.js"></script>  
  <link rel="stylesheet" href="http://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">

  <script type="text/javascript" src="{{ url_for('static', filename='view.js') }}"></script>
  <script type="text/javascript" src="{{ url_for('static', filename='layout.js') }}"></script>


  <!-- Bootstrap CSS -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css">


  <link rel="stylesheet" href="{{url_for('static', filename='main.css')}}">
    <script src="../static/layout.js"></script>


    <title>Investing 101 </title>
  </head>
  
  <body>
    
<nav class="navbar navbar-expand-lg navbar-light bg-light nav-default">
  <div class="container">
    <a class="navbar-brand" href="/home" id="subject">Investing 101</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link" href="/add" id="add">Add</a>
        <!-- <a class="nav-link" href="/hello/class">Hello Name</a> -->
        <!-- <a class="nav-link" href="/people">People</a> --> 


      </div>

      <form class="form-inline my-2 my-lg-0">
        <input id="keyword" class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" name="keyword">
        <!-- <button id="search" class="my-2 my-sm-0 btn-default" type="submit" onclick="search_results()">Search</button> -->
        <button type="submit" id="search" class="btn btn-default" onclick="search_result()">Search</button>

      </form>
      <!--  btn my-2 my-sm-0  btn-outline-success  -->
    </div>
  </div>
</nav>

    <div id="outer-container" class="container">   
        {% block content %}
        {% endblock %}
    </div>

  </body>
</html>




